# Doocutor gitignore file

# User settings
Doocutor.sln.DotSettings.user
Doocutor/Properties

# bin
Doocutor/bin
Tests/bin
Libraries/bin
DynamicEditor/bin
StaticEditor/bin
Domain/bin

# Publish
Publish

# obj
Doocutor/obj
Tests/obj
Libraries/obj
DynamicEditor/obj
StaticEditor/obj
Domain/obj

# IDES
.idea
.vs
.vscode

# Local deploy script. Helps me update my local version of doocutor.
install_local.py

# Built version of Doocutor (aka the binary branch).
Build

# SN keys for Doocutor
Doocutor.PublicKey

# Wow, what is these?
.fake
.ionide
