# Doocutor gitignore file

# User settings
*.user
*/Properties
publish
Doocutor.sln.DotSettings.user
global.json
run
build.log

# build dirs
*/*/obj
*/*/bin

# IDES
.idea
.vs
.vscode
.fleet

# Dev tools dirs
.fake
.ionide

omnisharp.json
