<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  internalLogFile="doocutor.log"
      internalLogLevel="Info" >

	<targets>
		<target xsi:type="File" name="logfile" fileName="c:\temp\doocutor.log"
				layout="${longdate} : ${level} : ${message}  ${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Console" name="logconsole"
				layout="${longdate} : ${level} : ${message}  ${all-event-properties} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="Doocutor.Program" minlevel="Trace" writeTo="logfile,logconsole" />
		<logger name="Doocutor.Core.Executors.NativeCommandExecutor" minlevel="Info" writeTo="logfile,logconsole"/>
		<logger name="ErrorHandler" minlevel="Info" writeTo="logfile,logconsole"/>
	</rules>
</nlog>